<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=q, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css" />
  <title>SAMPLE LOGIN APP</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <a href="/"><h1 class="header__logo">SAMPLE</h1></a>
      <nav class="header__nav">
        <ul class="menu">
          <li class="menu__list">
            <a type="button" class="btn" href="/login">LINEログイン</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="main">
    <div class="container">
      <p>HELLO NODE.JS</p>
    </div>
  </main>
</body>
</html>
